.cards{
margin-top: 60px;
max-width: 880px;
width: 100%;
margin-bottom: 45px;
}

.cards__list{
 list-style: none;
 display: grid;
 grid-template-columns: repeat(auto-fit, 282px);
 grid-gap: 20px 17px;
 padding: 0 0 0 0;
 margin: 0 0 0 0;
}


@media screen and (max-width: 750px) {
  .cards{
    margin-top: 36px;
  }

  .cards__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
