.header {
  max-width: 880px;
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  border-bottom-width: 100%;
  margin: 0 auto;
}

.header__logo {
  padding: 0;
  margin: 28px 0 32px 27px;
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    margin-left: 19px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 126px;
    max-height: 24px;
  }
}
